<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Voipan</title>

    <meta name="keywords" content="brutarie, panificatie, patiserie, cofetarie">
    <meta name="description" 
    content="De 15 ani de cand suntem pe piata romaneasca avem o permanenta preocupare pentru sanatatea clientilor nostri care ne-a determinat 
    sa facem o selectie riguroasa a retetelor folosite si a oamenilor cu care lucram, respectand in acelasi timp si normele europene in domeniul alimentatiei">
    <meta name="msapplication-TileColor" content="#C4A484">

    <%- include("../fragmente/head") %>

        <link href="/resurse/css/pagini/desigilate/contact.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <main>
        <div class="viewport-header">
            <%- include("../fragmente/header") %>
        </div>
        
        <div>
            <video playsinline autoplay muted loop poster="../../resurse/video/video_background/poster.jpg" id="bgvid">
                <source src="../../resurse/videoclipuri/background/cookies.webm" type="video/webm">
                <source src="../../resurse/videoclipuri/background/cookies.mp4" type="video/mp4">
            </video>
        </div>

    </main>
    <div class="viewport-footer">
        <%- include("../fragmente/footer") %>
    </div>
</body>

</html>