<!DOCTYPE html> 
<html lang="ro">

<head>
    
    <title>Voipan</title> <!-- Tag-uri meta (cerinta 2)-->
    
    <meta name="keywords" content="brutarie, panificatie, patiserie, cofetarie">
    <meta name="description" 
    content="De 15 ani de cand suntem pe piata romaneasca avem o permanenta preocupare pentru sanatatea clientilor nostri care ne-a determinat 
    sa facem o selectie riguroasa a retetelor folosite si a oamenilor cu care lucram, respectand in acelasi timp si normele europene in domeniul alimentatiei">
    <meta name="msapplication-TileColor" content="#C4A484">
    
    <link rel="stylesheet" href="resurse/css/despre.css" type="text/css" />
    <%- include("../fragmente/head.ejs") %>

</head>

<body>
    
    <%- include("../fragmente/header.ejs") %>
    <main>
        <h2>Despre noi</h2>    
        <p>De 15 ani de cand suntem pe piata romaneasca avem o permanenta preocupare pentru sanatatea clientilor nostri care ne-a determinat sa facem o selectie riguroasa 
            a retetelor folosite si a oamenilor cu care lucram, respectand in acelasi timp si normele europene in domeniul alimentatiei
         </p>
         
        <div id="imag">
        </div>

    </main>
    
    <%- include("../fragmente/footer.ejs") %>

</body>

</html>
