* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --quartz: #EDD0C0;
    --verde: #B3C0AE;
    --portocaliu: #FEC47F;
    --rosu: #C8626D;
    --crem: #BC8880;
  }

body{
    --margine-main:1%;
    --background-pagina:var(--verde);
    --culoare-text:black;
    --main-background:var(--quartz);

    background-color: var(--background-pagina);
    color: var(--culoare-text);

    margin-top: 2.5rem;
}

ul {
    margin-left: 2rem;
}

body.dark{
    --background-pagina:var(--crem);
    --culoare-text: white;
    --main-background:var(--portocaliu);
}
.c1{
    background-color: var(--rosu);
}

#h1{
    background-color: var(--verde);
}

main{
    background-color: var(--main-background);
    margin-left:var(--margine-main);
    margin-right:var(--margine-main);
}

footer{
    background-color: var(--background-pagina);
    position: relative;
}

#evenimente {
    grid-area: z-evenimente;
}

#grid-pagina{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "z-welcome    z-welcome    z-welcome z-welcome"
                         "z-welcome    z-welcome    z-welcome z-welcome"
                         "z-evenimente   z-orar    z-orar    z-anunturi"
                         "z-detalii    z-detalii    z-detalii z-detalii"
                         "z-detalii    z-detalii    z-detalii z-detalii"
                         "z-intrebari  z-intrebari  z-produse z-retete"
                         ;
}

#grid-pagina > *{
    border: 2px solid black;
    margin:0;
    padding:0;
}

/* Grid areas */

#welcome{
    grid-area:z-welcome;
}

#detalii{
    grid-area:z-detalii;
}

#produse{
    grid-area:z-produse;
}

#orar{
    grid-area:z-orar;
}

#retete {
    grid-area: z-retete;
}

#anunturi{
    grid-area: z-anunturi;
}

#index-intrebari{
    grid-area: z-intrebari;
}

#useri-online{
    grid-area:z-useri-online;  /* de modificat in grid */
}

#statistici{
    grid-area:z-statistici;  /* de modificat in grid */
}

#date-server {
    grid-area:z-date-server; /* de modificat in grid */
}



/* Tabel Orar */

#tab-orar {
    overflow: hidden;
    border-radius: 10%;
}

table, th, td {
    border: 1px solid;
  }

tr:nth-child(even) {
    background-color: var(--verde);
  }

  tr:nth-child(odd) {
    background-color: var(--rosu)
  }

tr:nth-child(even):hover {
    background-color: var(--crem);
    transition: all .7s ease-in-out;
  }

tr:nth-child(odd):hover {
    background-color: var(--crem);
    transition: all .7s ease-in-out;
  } 

td:hover {
    background-color: var(--quartz);
    transition: all .7s ease-in-out;
}



/* Stilizare taburi iframe */

.taburi-iframe{
    display: flex;
    justify-content: center;
}

.taburi-iframe a{
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 30px;
    border: 1px solid var(--verde);

    margin: 0 .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .25rem;
    box-shadow: 0px -3px 14px 4px var(--verde);
    transition: all .7s ease-in-out;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.taburi-iframe a:hover {
    background-color: var(--verde);
}



/* Link top button */

.link-top { 
    position: fixed;
    height: 75px;
    width: 75px;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
    font-size: 25px;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);

    background-color: var(--quartz);
    transition: all .7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgba(0,0,0,0.25);
}

.link-top:hover {
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
    font-size: 50px;
    color: black;
}



/* Cue for captions */

::cue{
    opacity: 80%;
    background-image: linear-gradient( var( --rosu ), var( --quartz ) );
    background-clip: text;

}




/* Text reflections */

#text-reflexie h2 {
    display: block;
    transform-origin: 0 0;
    opacity: 0.7;
    transform: rotateY(360deg) translate( 225px, -65px) rotate(25deg);  /* de mirror uit */

}

#text h2 {
    transform: rotate( -25deg) translate(0px, 65px);
    transform-origin: 0 0; 
}

#text h2, #text-reflexie h2 {
    font-size: 300%;
    font-weight: bold;
    
}


#Titlu-Hover:hover {
    color: var(--rosu);
    
    
} 


/*  
    Layout for mobile
*/

/* Mobile */
@media screen and (max-width:700px){
    #grid-pagina {
        display: block;
    }
    #container-orar {
        overflow-x:scroll;
        width: 100%;
    }
    * {
        font-size: 20px;
    }
}

/* Medium */
@media screen and (min-width: 700px) and (max-width:1200px){
    * {
        font-size: 18px;
    }
}

/* Large */
@media screen and (min-width: 1200px){
    * {
        font-size: 16px;
    }
}
