<footer>
    
    <address>
        <a href= "https://www.google.com/maps/place/Faculty+of+Mathematics+and+Informatics/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">
            Locatia sediului nostru principal
        </a>
        <br>
        <a href="tel:0720-100-400">Contact telefonic: 0720100400 
        </a>
        <br>
        <a href="mailto:cristea_miki@yahoo.com">Mail : cristea_miki@yahoo.com
        </a>
        <br>
        <a href="skype:voipanpatty?call">Contact pe platforma de socializare Skype</a>
    </address>

    <!-- Copyright info (cerinta 14) -->
    <small>
        Copyright &copy; <time datetime="2022-10-17 10:00">17 Octombrie 2022</time>
    </small>

</footer>