<header class="c1" id="h1"> 
    <h1> Voipan - Cofetarie, Brutarie, Patiserie</h1>

<!-- Nav bar (cerinta 5)-->
    <nav>

        <label id="hamburger" for="ch-menu">
            <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
        </label>
        <input id="ch-menu" type="checkbox">
        <ul class="meniu">
            
            <li class="meniu-categorie">
                <a>
                    <i class="icon-home"></i>
                    <span>Acasa</span>
                </a>
                <ul class="submeniu">
                    <li class="submeniu-categorie"><a href="index#welcome">Bine ati venit</a></li>
                    <li class="submeniu-categorie"><a href="index#anunturi">Anunturi</a></li>
                    <li class="submeniu-categorie"><a href="index#produse">Oferta</a></li>
                    <li class="submeniu-categorie"><a href="index#orar">Orar</a></li>
                    <li class="submeniu-categorie"><a href="index#index-intrebari">Întrebări</a></li>
                    <li class="submeniu-categorie"><a href="index#retete">Rețete</a></li>
                </ul>
            </li>

            <li class="meniu-categorie undroppable"><a href="#">Inregistrare</a></li>
            
            <li class="meniu-categorie">
                <a>Despre</a>
                <ul class="submeniu">                        
                    <li class="submeniu-categorie"><a href="despre#prezentare">Prezentare</a></li>
                    <li class="submeniu-categorie"><a href="despre#istoric">Istoric</a></li>
                    <li class="submeniu-categorie"><a href="despre#motivatie">Motivatie</a></li>
                    <li class="submeniu-categorie"><a href="despre#galerie">Galerie</a></li>
                </ul>
            </li>
            
            <li class="meniu-categorie">
                <a>Produse</a>
                <ul class="submeniu">
                    <li class="submeniu-categorie"><a href="http://www.google.com">Toate</a></li>
                    <li class="submeniu-categorie"><a href="#">Prajituri</a></li>
                    <li class="submeniu-categorie"><a href="#">Torturi</a></li>
                    <li class="submeniu-categorie"><a href="#">Patiserie</a></li>
                </ul>
            
            </li>
            
            <li class="meniu-categorie undroppable"><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>